*{
    font-family: 'Roboto', sans-serif;
}

.checkouut-form label {
    font-size: 12px;
    font-weight: 700;
}

.checkouut-form input {
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}